<template>
  <div class="hello" style="position:relative; bottom:60px">
<center><br><br>
    <h1>Data Bahan</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lightblue; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/bahan/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Nama Bahan</th>
        <th>Harga</th>
        <th>Keterangan</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(bahan, i) in data_bahan" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ bahan.nama_bahan }}</td>
          <td>{{ bahan.harga }}</td>
          <td>{{ bahan.keterangan }}</td>
          <td>
            <router-link :to="'/bahan/' + bahan.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(bahan.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center><br><br><br><br><br><br><br>
    <p class="top-right"><b><i>@copyright M Abdul Aziz</i></b></p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Bahan',
  data () {
    return {
      data_bahan: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost:8888/tugas-akkhir/public/'
      let url2 = 'bahan'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_bahan = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost:8888/tugas-akkhir/public/bahan/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
