<template>
  <div class="hello" style="position:relative; bottom:60px">
    <center><br><br>
    <router-link to="/bahan">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data bahan</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightblue;" >
      <tr>
        <td><label>Nama Bahan </label></td>
        <td><input type="text" v-model="bahan.nama_bahan"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Harga </label></td>
        <td><input type="number"  v-model="bahan.harga" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Keterangan </label></td>
        <td><input type="text" v-model="bahan.stok" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center><br><br><br><br><br><br><br>
    <p class="top-right"><b><i>@copyright M Abdul Aziz</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'BahanForm',
  data () {
    return {
      bahan: {
        id: null,
        nama_bahan: '',
        harga: '',
        keterangan: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8888/tugas-akkhir/public/bahan/'
      api.get(url + id).then(res => {
        this.bahan = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.bahan
      let url = 'http://localhost:8888/tugas-akkhir/public/bahan'

      if (this.bahan.id) {
        url += '/' + this.bahan.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/bahan')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
