<template>
    <div class="hello" style="position:relative; bottom:60px"><br><br>
    <center>
        <img src="../assets/background.jpg" style="width:1300px; height:500px;">
    <table style="position:relative; bottom:120px;">
      <tr>
        <td><router-link to="/bahan"><img src="../assets/ingredient.png" style="position:relative; right:60px; bottom:10px; border-radius:50%; height:263px; "><h2 style="position:relative; left:0px;">Bahan</h2></router-link></td>
        <td><router-link to="/kue"><img src="../assets/iccake.png" style="position:relative; left:20px; bottom:10px; border-radius:50%; height:260px;"><h2 style="position:relative; left:105px;">Kue</h2></router-link></td>
      </tr>
    </table>
    <div style="background-color:#333; padding:20px; position:relative; bottom:50px;" class="col-sm-10 col-sm-offset-1">
        <b><i style="color:white;">@Copyright M Abdul Aziz</i></b>
    </div>
    </center>
    </div>
</template>
