<template>
  <div class="hello" style="position:relative; bottom:60px">
    <center><br><br>
    <router-link to="/kue">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data kue</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama kue </label></td>
        <td><input type="text" v-model="kue.nama_kue"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Harga </label></td>
        <td><input type="number"  v-model="kue.harga" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Keterangan </label></td>
        <td><input type="text" v-model="kue.keterangan" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center><br><br><br><br><br><br><br>
    <p class="top-right"><b><i>@copyright M Abdul Aziz</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'KueForm',
  data () {
    return {
      kue: {
        id: null,
        nama_kue: '',
        harga: '',
        keterangan: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8888/tugas-akkhir/public/kue/'
      api.get(url + id).then(res => {
        this.kue = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.kue
      let url = 'http://localhost:8888/tugas-akkhir/public/kue'

      if (this.kue.id) {
        url += '/' + this.kue.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/kue')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
